@import "tailwindcss";

@theme inline {
  --color-background: #fffefa;
  --color-foreground: #132c40;
  --color-primary: #1f5fff;
  --color-accent: #f5b700;
  --color-tertiary: #f5b700;
  --color-nav: #443199;
  --color-activeLink: #ff9100;
  --color-section-muted: #f3f6fb;
  --color-section-muted-thick: #dbdde2;
  --color-surface: #f3f6fb;
  --color-muted: #52606b;

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
